---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Series Data Structure

- Pandas se basa en numpy structures, esto aplanca mejor performance comparado con list library por ejemlo

In [1]:
import pandas as pd
# para ver la documentacion
pd.Series?

- vealo como dos columnas de datos , la primera el idice y la segunda el valor en la lista que se pasa

In [38]:
df = pd.read_csv('cartera.csv')
#df2 = df.groupby('timestamp')
#df2.count()
df[df['UBICACION_DE_LA_OFICINA'].str.contains('CALIFORNIA')]

,RECORD_CREATION_DATE,MONTO_DEL_PRESTAMO,RANGO_DEL_CREDITO,DEUDA_EXISTENTE,NOTAS_DEL_AGENTE,UBICACION_DE_LA_OFICINA,PRESTAMO_INCUMPLIDO
0,01May2014:09:24:27.000000,2500,760-779,"$10,001-$20,000",NaN,NORTHERN CALIFORNIA,FALSO
1,01May2014:09:48:36.000000,2500,700-719,"$1-$10,000","Ingreso anual neto: $25,400",SOUTHERN CALIFORNIA,FALSO
3,01May2014:10:31:25.000000,4300,780-799,"$1-$10,000","Ingreso anual neto: $191,900",SOUTHERN CALIFORNIA,FALSO
4,01May2014:10:46:54.000000,20100,780-799,"$90,001-$100,000","Pagos mensuales de deuda verificados: $1,700",SOUTHERN CALIFORNIA,VERDADERO
5,01May2014:11:14:12.000000,6600,760-779,"$10,001-$20,000",NaN,NORTHERN CALIFORNIA,FALSO
7,01May2014:11:53:24.000000,10000,760-779,"$20,001-$30,000",NaN,SOUTHERN CALIFORNIA,FALSO
8,01May2014:12:18:53.000000,8900,740-759,"$80,001-$90,000",NaN,NORTHERN CALIFORNIA,FALSO
9,01May2014:12:32:41.000000,2500,760-779,"$30,001-$40,000",Pagos mensuales de deuda verificados: $590...I...,NORTHERN CALIFORNIA,FALSO
10,01May2014:12:52:26.000000,13000,720-739,"$10,001-$20,000",NaN,SOUTHERN CALIFORNIA,FALSO
11,01May2014:12:59:04.000000,2500,780-799,"$10,001-$20,000","Ingreso mensual neto 16,670",NORTHERN CALIFORNIA,VERDADERO
12,01May2014:13:29:21.000000,11000,700-719,"$70,001-$80,000",NaN,NORTHERN CALIFORNIA,FALSO
14,01May2014:13:57:11.000000,5900,780-799,"$20,001-$30,000",NaN,SOUTHERN CALIFORNIA,FALSO
19,01May2014:15:23:38.000000,3000,740-759,NaN,NaN,SOUTHERN CALIFORNIA,FALSO
20,01May2014:15:38:11.000000,5100,700-719,"$60,001-$70,000","Ingreso anual neto: $58,300",SOUTHERN CALIFORNIA,FALSO
25,01May2014:17:35:40.000000,9100,740-759,"$30,001-$40,000","Ingreso anual neto: $23,000",SOUTHERN CALIFORNIA,FALSO
29,01May2014:18:38:45.000000,2800,780-799,"$30,001-$40,000",NaN,NORTHERN CALIFORNIA,FALSO
30,02May2014:09:06:58.000000,7100,700-719,"$1-$10,000",NaN,SOUTHERN CALIFORNIA,VERDADERO
31,02May2014:09:26:27.000000,2500,720-739,"$10,001-$20,000",NaN,SOUTHERN CALIFORNIA,VERDADERO
34,02May2014:10:34:58.000000,6600,800+,NaN,"Ingreso anual neto: $15,000",SOUTHERN CALIFORNIA,FALSO
37,02May2014:11:32:01.000000,3800,780-799,"$100,000+","Ingreso mensual neto 7,690",SOUTHERN CALIFORNIA,FALSO
39,02May2014:12:34:24.000000,2500,780-799,"$20,001-$30,000",Pagos mensuales de deuda verificados: $440,NORTHERN CALIFORNIA,VERDADERO
41,02May2014:13:13:15.000000,7800,740-759,"$20,001-$30,000","Ingreso mensual neto 1,250",SOUTHERN CALIFORNIA,VERDADERO
46,02May2014:14:29:13.000000,2500,740-759,NaN,"Ingreso mensual neto 6,970",SOUTHERN CALIFORNIA,FALSO
47,02May2014:14:56:13.000000,6400,700-719,"$100,000+","Ingreso anual neto: $62,400",SOUTHERN CALIFORNIA,FALSO
49,02May2014:15:31:12.000000,2500,760-779,NaN,"Ingreso anual neto: $45,800...El cliente no ti...",NORTHERN CALIFORNIA,VERDADERO
60,05May2014:09:31:32.000000,14400,780-799,"$90,001-$100,000","Ingreso anual neto: $83,300",NORTHERN CALIFORNIA,FALSO
62,05May2014:10:33:00.000000,2500,780-799,"$90,001-$100,000",NaN,NORTHERN CALIFORNIA,FALSO
66,05May2014:12:01:42.000000,2500,700-719,NaN,"Ingreso anual neto: $22,300",SOUTHERN CALIFORNIA,FALSO
72,05May2014:14:12:48.000000,2500,740-759,NaN,"Ingreso anual neto: $23,500",SOUTHERN CALIFORNIA,FALSO
74,05May2014:14:40:17.000000,2500,700-719,"$10,001-$20,000","Ingreso mensual neto 1,630",SOUTHERN CALIFORNIA,VERDADERO
...,...,...,...,...,...,...,...
7949,06May2015:11:31:13.000000,2900,800+,"$10,001-$20,000","Ingreso anual neto: $15,000",NORTHERN CALIFORNIA,FALSO
7950,06May2015:11:42:43.000000,6300,700-719,"$30,001-$40,000",NaN,SOUTHERN CALIFORNIA,VERDADERO
7951,06May2015:12:02:51.000000,4300,780-799,NaN,El cliente no tiene deuda,NORTHERN CALIFORNIA,FALSO
7952,06May2015:12:26:44.000000,2500,740-759,"$40,001-$50,000","Ingreso anual neto: $39,700",SOUTHERN CALIFORNIA,VERDADERO
7956,06May2015:14:07:23.000000,3800,700-719,"$1-$10,000",Pagos mensuales de deuda verificados: $130...I...,NORTHERN CALIFORNIA,VERDADERO
7957,06May2015:14:32:30.000000,6700,760-779,"$100,000+",NaN,SOUTHERN CALIFORNIA,FALSO
7958,06May2015:14:44:11.000000,7500,780-799,"$30,001-$40,000","Ingreso anual neto: $52,900",SOUTHERN CALIFORNIA,VERDADERO
7960,06May2015:15:15:24.000000,2500,780-799,NaN,El cliente no tiene deuda...Ingreso anual neto...,NORTHERN CALIFORNIA,VERDADERO
7963,06May2015:16:06:15.000000,2500,780-799,"$20,001-$30,000",NaN,SOUTHERN CALIFORNIA,VERDADERO
7964,06May2015:16:38:59.000000,2500,700-719,"$90,001-$100,000",NaN,NORTHERN CALIFORNIA,FALSO
7965,06May2015:16:51:56.000000,7300,700-719,"$10,001-$20,000","Ingreso anual neto: $26,300",SOUTHERN CALIFORNIA,VERDADERO
7968,06May2015:18:01:10.000000,2500,780-799,"$100,000+",NaN,NORTHERN CALIFORNIA,FALSO
7969,06May2015:18:25:17.000000,3200,740-759,NaN,El cliente no tiene deuda,SOUTHERN CALIFORNIA,FALSO
7970,06May2015:18:52:19.000000,2700,760-779,"$100,000+","Ingreso mensual neto 16,670",SOUTHERN CALIFORNIA,VERDADERO
7971,07May2015:09:01:13.000000,4400,760-779,"$1-$10,000","Ingreso anual neto: $15,000",NORTHERN CALIFORNIA,VERDADERO
7972,07May2015:09:11:16.000000,9800,740-759,"$100,000+",NaN,NORTHERN CALIFORNIA,FALSO
7974,07May2015:09:27:25.000000,2500,740-759,"$1-$10,000","Ingreso anual neto: $19,700",SOUTHERN CALIFORNIA,VERDADERO
7976,07May2015:10:13:50.000000,2500,760-779,"$40,001-$50,000",Pagos mensuales de deuda verificados: $700,NORTHERN CALIFORNIA,FALSO
7977,07May2015:10:32:10.000000,2500,740-759,NaN,"Ingreso mensual neto 9,570...El cliente no tie...",NORTHERN CALIFORNIA,VERDADERO
7982,07May2015:11:55:46.000000,3700,720-739,"$30,001-$40,000",NaN,NORTHERN CALIFORNIA,FALSO
7984,07May2015:12:22:46.000000,2500,700-719,"$80,001-$90,000",NaN,NORTHERN CALIFORNIA,FALSO
7985,07May2015:12:53:01.000000,6700,800+,NaN,"Ingreso mensual neto 7,960...El cliente no tie...",SOUTHERN CALIFORNIA,VERDADERO
7986,07May2015:13:21:02.000000,4500,780-799,"$100,000+","Ingreso anual neto: $200,000",NORTHERN CALIFORNIA,VERDADERO
7987,07May2015:13:29:00.000000,12400,760-779,NaN,"Ingreso anual neto: $68,300",NORTHERN CALIFORNIA,VERDADERO
7991,07May2015:14:16:56.000000,5200,740-759,"$60,001-$70,000",NaN,NORTHERN CALIFORNIA,FALSO
7992,07May2015:14:43:58.000000,2500,720-739,"$20,001-$30,000","Ingreso mensual neto 1,660",NORTHERN CALIFORNIA,VERDADERO
7995,07May2015:16:04:54.000000,3500,700-719,NaN,El cliente no tiene deuda...Ingreso anual neto...,SOUTHERN CALIFORNIA,FALSO
7996,07May2015:16:38:22.000000,2500,700-719,"$1-$10,000",Pagos mensuales de deuda verificados: $10,SOUTHERN CALIFORNIA,VERDADERO
7997,07May2015:17:04:07.000000,2500,780-799,"$10,001-$20,000","Ingreso mensual neto 2,870",SOUTHERN CALIFORNIA,FALSO
7999,07May2015:17:52:58.000000,2500,740-759,"$40,001-$50,000",NaN,NORTHERN CALIFORNIA,VERDADERO

In [2]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [3]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [4]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [5]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
import numpy as np
np.nan == None

False

In [7]:
np.nan == np.nan

False

In [8]:
np.isnan(np.nan)

True

In [9]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

# Obteniendo solo los keys
- Note que el anterior box retorna la serie en 2 columnas, en donde la primera son los key en el dictiomary y el segundo es el value

In [10]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [11]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [12]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

# Querying a Series

In [13]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

- iloc para buscar values by index y 'loc' para buscar values by key, ejemplo:
- #NOTA MENTAL#: iloc y loc no son metodos SON atributos por eso no se usa con s() es un atributo como cuando hacemos con un array en java list1[] y no list.emelmenAt()..que si es un método

In [14]:
s.iloc[3]

'South Korea'

In [15]:
s.loc['Golf']

'Scotland'

- Pero el interpreter tambien sbe identificar si es el uno o el otro, dependiendo del tipo de datos

In [16]:
s[3]

'South Korea'

In [17]:
s['Golf']

'Scotland'

In [18]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [19]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

KeyError: 0

In [ ]:
# Solucion al error anterior:
s.iloc[0]

In [ ]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

- Solucion tradicional peeero no es tan efectiva en cuanto a performance

In [ ]:
total = 0
for item in s:
    total+=item
print(total)

In [ ]:
import numpy as np
# Solucion mas efectiva ya que son metodos optimizados que en ambientes de mucha data correría en menos tiempo,
# ya que internamente hace uso de parallel computing
total = np.sum(s)
print(total)

In [ ]:
#this creates a big series of random numbers  low=0, highg:1000 and 10000 elements into the list
s = pd.Series(np.random.randint(0,1000,10000))
s.head()
# head trae los primeros 5 elementos, verifique que no es mentira con len(s)

In [ ]:
len(s)

In [ ]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

In [ ]:
%%timeit -n 100
summary = np.sum(s)

In [ ]:
s+=2 #adds two to each item in s using broadcasting
s.head()

In [ ]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

- En algunos casos esto hasta se muere según el equipo

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

In [ ]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

In [ ]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [ ]:
original_sports

In [ ]:
cricket_loving_countries

In [ ]:
all_countries

In [ ]:
all_countries.loc['Cricket']

# The DataFrame Data Structure

In [ ]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

In [ ]:
df.loc['Store 2']

In [ ]:
type(df.loc['Store 2'])

In [ ]:
df.loc['Store 1']
#type(df.loc['Store 1']) es de tipo dataFrame

In [ ]:
df.loc['Store 1', 'Cost']
#type(df.loc['Store 1', 'Cost']) tipo serie

In [ ]:
df.T

In [ ]:
df.T.loc['Cost']

In [ ]:
df['Cost']

In [ ]:
df.loc['Store 1']['Cost']

In [ ]:
df.loc[:,['Name', 'Cost']]

In [ ]:
df.drop('Store 1')

In [ ]:
df

In [ ]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

In [ ]:
copy_df.drop?

In [ ]:
del copy_df['Name']
copy_df

In [ ]:
df['Location'] = None
df

# Dataframe Indexing and Loading

In [ ]:
costs = df['Cost']
costs

In [ ]:
costs+=2
costs

In [ ]:
df

- cat permite ver el archivo: cuando el notebook jupyter detecta que una linea inicia por signo de excalacion entonces envía a ejecutar el comando al sistema operativo

In [ ]:
!cat olympics.csv

In [ ]:
df = pd.read_csv('olympics.csv')
df.head()

- Volvamos a leer el archivo pero esa vez ajustando el inicio del titulo de las columnas con skiprows ignoro la primera fila y con index_col ajustamos el indice de cada fila a 0, indicando que la columna 0 es la que será utilizada como indice(llave ppal en bd pero que se spuede repetir :), es la calave del registro y no es unica en el dframe), en eset caso el indice será el país.

In [ ]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

In [ ]:
df.columns

In [ ]:
type(df.columns) 
# es tipo lista

# Starting cleaning

In [ ]:
# los nombres de las columnas (ver arriba), no son muy explicitos y por ejemplo 01 ! es oro, 02 ! es plata,
# items repetidos son 01 !.1 etc


for col in df.columns:
    # recuende que la columna 0 y 1 son el pais y la cantidad de juegos disputados
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

# Querying a DataFrame

In [ ]:
df['Gold'] > 0
#note como el resultado es una serie donde a la vez se indexa para decir por cada index si cumple o no la condiciòn

In [ ]:
only_gold = df.where(df['Gold'] > 0)
only_gold.head()

In [ ]:
only_gold['Gold'].count()

In [ ]:
df['Gold'].count()

In [ ]:
only_gold = only_gold.dropna()
only_gold.head()

In [ ]:
#pero para que se evite aplicar primero el boolean mask y luego dropna entonces toma tu shortcut
only_gold = df[df['Gold'] > 0]
only_gold.head()

In [ ]:
# recuerde qe como tenemos summer games y tenemos la columna gold.1 winter games entonces por eso el "or operator"
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

In [ ]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)] 
#note como para gold1 si hay oros porque fueron las que se hganaron el winter games

# Write a query to return all of the names of people who bought products worth more than $3.00.

In [ ]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df2 = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df2
df2['Name'][df2['Cost']>3]

# Indexing Dataframes

In [ ]:
df.head()

In [ ]:
# df.index: The index (row labels) of the DataFrame. Es una lista 

df['country'] = df.index

#colocando a la columna gold como index
df = df.set_index('Gold')
df.head()

In [ ]:
df = df.reset_index()
# vuelde el indice actual como una columna y crea otra columna numerica incremental como el nuevo indice que representará el 
# registro
df.head()

In [ ]:
df = pd.read_csv('census.csv')
df.head()

In [ ]:
# viendo los diferentes valores que puede tener una columna similar a UN DISTINCT EN SQL
df['SUMLEV'].unique()

In [ ]:
# More examples of filtering
df=df[df['SUMLEV'] == 50]
df.head()

In [ ]:
# creando un listado de las columnas que se desean mantener
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']

# Pasando el listado de columnas que deseamos
df = df[columns_to_keep]
df.head()

In [ ]:
# Creando indices compuestos, similar a llaves compuestas en SQL
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

In [ ]:
# Buscando sobre el index compuesto primero por el  statename Michigan Y luego por el ctyName = 'Washtenaw County'
df.loc['Michigan', 'Washtenaw County']

- Ejemplo de como hacer un query sobre dos valores que se deseen comparar del mismo estado, note que se pasa como una lista de tuplas

In [ ]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

# Exercise: 
- Reindex the purchase records DataFrame to be indexed hierarchically, first by store, then by person. Name these indexes 'Location' and 'Name'. Then add a new entry to it with the value of **Name: 'Kevyn', Item Purchased: 'Kitty Food', Cost: 3.00 Location: 'Store 2'**

In [ ]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df3 = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])


# Your answer here

df3['Location'] = df3.index
df3 = df3.set_index(['Location', 'Name'])
df3 = df3.append(pd.Series(data={'Cost': 3.00, 'Item Purchased': 'Kitty Food'}, name=('Store 2', 'Kevyn')))
df3.head()

# Missing values
- Missing values es muy comun en data cleaning process

In [ ]:
df = pd.read_csv('log.csv')
df

In [ ]:
df.fillna?

In [ ]:
df = df.set_index('time')
df = df.sort_index()
df

In [ ]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

In [ ]:
df = df.fillna(method='ffill')
df.head()